@media (prefers-reduced-motion: no-preference) {
    .Board {
        position: relative;
        background-color:rgba(0, 0, 0, 0.815);
        display: flex;
        flex-wrap: wrap;
        width: 30vmax;
        height: 30vmax;
        margin: 0 auto;
        justify-content: center;
        z-index: 2;
    }
    .Border {
        display: flex;
        align-self: flex-start;
        position: absolute;
        width: 60vmin;
        height: 60vmin;
        z-index: 1;
        pointer-events: none;    }
}