@media (prefers-reduced-motion: no-preference) {
    .gameContainer{
        position: fixed;
        top: 10%;
        left: 25%;
        background-color:rgba(0, 0, 0, 0.815);
        border: 2px solid rgb(0, 199, 27);
        display: flex;
        flex-wrap: wrap;
        width: 50vmax;
        height: 30vmax;
        align-items: center;
        justify-content: space-around;
    }
}