.App {
  text-align: center;
  font-family: monospace;
}

.App-logo-top {
  position: fixed;
  padding-bottom: 7em;
  height: 40vmin;
  pointer-events: none;
  z-index: 2;
}
.App-logo-bottom {
  position: fixed;
  padding-bottom: 7em;
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
}
.App-main-btn {
  position: fixed;
  top: 60vmin;
  padding: 1em;
  font-family: monospace; /*TODO:herencia de fuente*/
  background-color: hsl(93, 100%, 70%);
  box-shadow: 0px 10px 0px 0px hsl(93, 100%, 30%);
  cursor: pointer;
}
.App-main-btn:hover {
  animation-name: App-main-btn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.App-footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
.App-link {
  color: #aaff65;
  font-size: medium;
}
.App-footer-logo {
  height: 2.5vmin;
}

@media (prefers-reduced-motion: no-preference) { /*TODO: Definicion*/
  .App-logo-bottom {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-main {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin { /*TODO: Keyframes responsivos*/
  0%, 100% {
    left: 23%;
  }
  25% {
    left: 20%;
  }
  75% {
    left: 27%;
  } 
}
@keyframes App-main-btn {
from {
  padding: 1em;
}
to {
  padding: 1.3em;
}
}
